<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20B29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Poly Logo Revert</string>
	<key>CFBundleExecutable</key>
	<string>Poly Logo Revert Extension</string>
	<key>CFBundleIdentifier</key>
	<string>in.smpark.Poly-Logo-Revert.Extension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Poly Logo Revert Extension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>Poly_Logo_Revert_Extension.SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>favicon.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>portal_logo.js</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>ToolbarItemIcon.pdf</string>
			<key>Label</key>
			<string>Give 'em the horse</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>idp.calpoly.edu</string>
				<string>myportal.calpoly.edu</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Stephen Parkinson. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Revert to a better time.</string>
</dict>
</plist>
